<div id="page-feedback-messages"></div>
<div id="page-infinite-loader">
  <img alt="<%= trans.images.infinite_loader_alt %>" src="images/page-infinite-loader.svg">
</div>
<div id="templates">
  <div class="box feedback-success" id="template-feedback-success">
    <div class="box-head">
      <h2><%= trans.footer.feedback.success_text %></h2>
      <ul class="box-actions">
        <li class="box-action disabled">
          <i class="material-icons">done</i>
        </li>
      </ul>
    </div>
    <div class="box-body"></div>
  </div>
  <div class="box feedback-error" id="template-feedback-error">
    <div class="box-head">
      <h2><%= trans.footer.feedback.error_text %></h2>
      <ul class="box-actions">
        <li class="box-action disabled">
          <i class="material-icons">close</i>
        </li>
      </ul>
    </div>
    <div class="box-body"></div>
  </div>
  <div class="box feedback-alert" id="template-feedback-alert">
    <div class="box-head">
      <h2><%= trans.footer.feedback.alert_text %></h2>
      <ul class="box-actions">
        <li class="box-action disabled">
          <i class="material-icons">priority_high</i>
        </li>
      </ul>
    </div>
    <div class="box-body"></div>
  </div>
  <div class="box feedback-info keep" id="template-feedback-info-buttons">
    <div class="box-head">
      <h2><%= trans.footer.feedback.info_text %></h2>
      <ul class="box-actions">
        <li class="box-action disabled">
          <i class="material-icons">notifications</i>
        </li>
      </ul>
    </div>
    <div class="box-body"></div>
    <div class="box-footer">
      <button class="button abort"><%= trans.footer.feedback.info_abort_text %></button>
      <div class="spacer"></div>
      <button class="button confirm"><%= trans.footer.feedback.info_confirm_text %></button>
    </div>
  </div>
  <div class="box feedback-info" id="template-feedback-info">
    <div class="box-head">
      <h2><%= trans.footer.feedback.info_text %></h2>
      <ul class="box-actions">
        <li class="box-action disabled">
          <i class="material-icons">notifications</i>
        </li>
      </ul>
    </div>
    <div class="box-body"></div>
  </div>
  <ul>
    <li class="clearfix" id="template-other-message">
      <div class="message">
        <span class="message-user"></span>
        <p class="message-content"></p>
      </div>
      <span class="message-time"></span>
    </li>
    <li class="clearfix mine" id="template-mine-message">
      <div class="message">
        <span class="message-user"><%= trans.footer.mine_message_user_text %></span>
        <p class="message-content"></p>
      </div>
      <span class="message-time"></span>
    </li>
  </ul>
  <div class="board-tile" id="template-board-tile"></div>
  <div class="board-tile-limit" id="template-board-tile-limit"></div>
  <div class="move" id="template-round-move">
    <b><span class="move-number"></span></b> - <b><span class="move-username"></span></b><br>
    <span class="move-sprite"></span>
    <span class="move-attack">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="move-attack">
        <path d="M 22 2 L 17.1875 2.28125 L 7.84375 12.53125 L 6.65625 11.34375 L 5.21875 12.78125 L 6.8125 14.375 L 4.03125 17.65625 L 3.375 17 L 1.96875 18.40625 L 5.59375 22.03125 L 7 20.625 L 6.34375 19.96875 L 9.625 17.1875 L 11.21875 18.78125 L 12.65625 17.34375 L 11.46875 16.15625 L 21.71875 6.8125 Z M 19.875 4.125 L 19.78125 5.875 L 10.0625 14.71875 L 9.28125 13.9375 L 18.125 4.21875 Z"/>
      </svg>
    </span>
    <br>
    <%= trans.index.game.moves_from_text %> <span class="move-from"></span> <%= trans.index.game.moves_to_text %> <span class="move-to"></span>
  </div>
  <div class="row" id="template-rankings-row">
    <span class="row-position"></span>
    <span class="row-username"></span>
    <span class="row-points"></span>
  </div>
</div>
<script src="js/default.js"></script>
<script>
  const i18nData = JSON.parse('<%- JSON.stringify(trans) %>');
<% if (user)  { %>
  const userData = JSON.parse('<%- JSON.stringify(user) %>');
<% } %>
</script>