<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./shared/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="css/auth.css">
</head>
<body onload="onLoad()">
  <div class="container">
    <img id="logo" src="images/full_logo.png">
    <div class="box">
      <div class="box-head">
        <h2><%= trans.auth.welcome_text %></h2>
        <ul class="box-actions">
          <li class="box-action disabled">
            <i class="material-icons">security</i>
          </li>
        </ul>
      </div>
      <div class="box-body">
        <form>
          <div class="input">
            <i class="material-icons">chevron_right</i>
            <input type="text" name="username" placeholder="<%= trans.auth.username_placeholder %>" />
          </div>
          <div class="input">
            <i class="material-icons">chevron_right</i>
            <input type="password" name="password" placeholder="<%= trans.auth.password_placeholder %>" />
          </div>
        </form>
      </div>
      <div class="box-footer">
        <button id="submit-login" class="button" disabled><%= trans.auth.login_text %></button>
        <div class="spacer"></div>
        <button id="submit-signup" class="button" disabled><%= trans.auth.signup_text %></button>
      </div>
    </div>
  </div>
  <%- include('./shared/footer.ejs') %>
  <script type="text/javascript" src="js/auth.js"></script>
</body>
</html>